tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

.heading{
    padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#4CAF50 ;
  color: white;
}
/*#7c3265*/